@import "tailwindcss";

@font-face {
  font-family: "OCRAbyBT";
  src: url("./public/fonts/OCRAbyBT.otf");
}

@font-face {
  font-family: "Courier";
  src: url("./public/fonts/Courier.ttf");
}

body {
  -webkit-font-smoothing: antialiased;
}
